<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> pagina tarea </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">holi <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="#">owo</a>
      <a class="nav-item nav-link" href="#">lol</a>
      <a class="nav-item nav-link disabled" href="#">uwu</a>
    </div>
  </div>
</nav>
<div class="container">
<progress max="100" [value]="contador"></progress>
<hr>
<input type="number" [value]="alto" (input)="capturarAlto($event)">
<input type="number" [value]="ancho" (input)="capturarAncho($event)">
<br>
<img [src]="imagen" [height]="alto" [width]="ancho">
<br><br>
<button (click)="cosa=!cosa">Imagen 1</button>

<section *ngIf="cosa">
  <img title="HAPPY" src="https://imgix.ranker.com/user_node_img/50105/1002095730/original/1002095730-photo-u1" />
</section>

<h1></h1>
<section
    class="section"
    (scroll)="scrollEn($event)">
    MUCHO TEXTO MUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTO
    <br><br>
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO


    <br><br>
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO
    MUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTOMUCHO TEXTO


  </section>
  <br><br><br>

  <audio controls>
    <source src="assets/Sonido.mp3" type="audio/mp3">

  </audio>
</div>
